-- SCRIPT GERADO EM: 2025-05-26 20:25:49
-- PostgreSQL - Estrutura completa de tabelas do sistema de livros, falas e personagens

-- Tabela de Livros
CREATE TABLE TB_LIVROCABECALHO (
    CD_SEQUENCIAL      BIGSERIAL PRIMARY KEY,
    TX_TITULO          TEXT UNIQUE,
    FL_LIDO            TEXT,
    FL_NORMALIZADO     TEXT,
    FL_NARRADOR        TEXT,
    FL_PRODUZIDO       TEXT,
    DT_MANUTECAO       TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de Páginas dos Livros
CREATE TABLE TB_LIVROPAGINA (
    CD_SEQUENCIAL           BIGSERIAL PRIMARY KEY,
    CD_SEQUENCIALLIVRO      BIGINT NOT NULL REFERENCES TB_LIVROCABECALHO(CD_SEQUENCIAL),
    NR_PAGINA               BIGINT,
    TX_PAGINA               TEXT,
    FL_PROCESSADO           TEXT,
    DT_MANUTECAO            TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de Personagens
CREATE TABLE TB_LIVROPERSONAGENS (
    CD_SEQUENCIAL          BIGSERIAL PRIMARY KEY,
    CD_SEQUENCIALLIVRO     BIGINT NOT NULL REFERENCES TB_LIVROCABECALHO(CD_SEQUENCIAL),
    TX_PERSONAGEM          TEXT,
    TX_GENERO              TEXT,
    TX_IDADE               TEXT,
    CD_VOZ                 BIGINT,
    DT_MANUTECAO           TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela de Falas
CREATE TABLE TB_LIVROFALAS (
    CD_SEQUENCIAL             BIGSERIAL PRIMARY KEY,
    CD_SEQUENCIALLIVRO        BIGINT NOT NULL REFERENCES TB_LIVROCABECALHO(CD_SEQUENCIAL),
    CD_SEQUENCIALPAGINA       BIGINT NOT NULL REFERENCES TB_LIVROPAGINA(CD_SEQUENCIAL),
    CD_SEQUENCIALPERSONAGEM   BIGINT NOT NULL REFERENCES TB_LIVROPERSONAGENS(CD_SEQUENCIAL),
    TX_FALA                   TEXT,
    FL_PROCESSADO             TEXT,
    DT_MANUTECAO              TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Tabela para armazenar chaves de APIs externas
CREATE TABLE TB_LIVROAPIS (
    CD_SEQUENCIAL   BIGSERIAL PRIMARY KEY,
    TX_KEY          TEXT UNIQUE,
    DT_EXPIRACAO    TIMESTAMP
);

-- Índices adicionais recomendados
CREATE INDEX idx_livropagina_livro ON TB_LIVROPAGINA(CD_SEQUENCIALLIVRO);
CREATE INDEX idx_personagens_livro ON TB_LIVROPERSONAGENS(CD_SEQUENCIALLIVRO);
CREATE INDEX idx_falas_livro_pagina ON TB_LIVROFALAS(CD_SEQUENCIALLIVRO, CD_SEQUENCIALPAGINA);
CREATE INDEX idx_falas_personagem ON TB_LIVROFALAS(CD_SEQUENCIALPERSONAGEM);
